In [2]:
# Set working directory to access data
import os
os.chdir('Data')
os.getcwd()

'C:\\Users\\Marcus\\OMSA GATECH\\CSE6242\\Project - QR\\Data'

In [3]:
import pandas as pd
import numpy as np
import statistics as stats

In [4]:
# Global Variables
metrageInc = 5 # 5 metre increments
numTRCRuns = 4 # Number of runs of TRC
TRCSkipRows = 4 # Number of rows to skip at top of TRC CSV
GPRSkipRows = 15 # Number of rows to skip at top of GPR XLS

In [61]:
# Input Parameters

#### GPR
GPRFileName = 'GPR1.xlsx'
GPRSheetName = 'Brisbane 2015 Trackbed Metrics'
division = 'Brisbane'
divisionCol = 'Division' # column name of division
subdivision = 'SF' # Shorncliffe line
subdivisionCol = 'Sub-division' # column name of subdivision
#lineSegment = '531'
#lineSegmentCol = 2 # column name of line segment
track = 401 # Up or down line
trackCol = 'Track ID' # column name of track direction
StartKM = "Start KM" # Name of Start KM column
EndKM = "End KM" # Name of Start KM column

# GPR Features
PVCLeft = 'PVC Value' # PVC columns
PVCCentre = 'PVC Value.1' 
PVCRight = 'PVC Value.2' 

LRILeft = 'Left*' # LRI columns
LRICentre = 'Centre'
LRIRight = 'Right'

BTILeft = 'Left*.1' # BTI columns
BTICentre = 'Centre.1'
BTIRight = 'Right.1'

MLILeft = 'Left*.2' # MLI columns
MLICentre = 'Centre.2'
MLIRight = 'Right.2'

SMLILeft = 'Left*.3' # SMLI columns
SMLICentre = 'Centre.3'
SMLIRight = 'Right.3'

FDLLeft = 'Left*.4' # FDL columns
FDLCentre = 'Centre.4'
FDLRight = 'Right.4'

CTQILeft = 'Left*.5' # CTQI columns
CTQICentre = 'Centre.5'
CTQIRight = 'Right*'

BVMLeftVolume = 'Volume (cubic m)' # BVM columns
BVMLeftCategory = 'Category.3'
BVMCentreVolume = 'Volume (cubic m).1' 
BVMCentreCategory = 'Category.4'
BVMRightVolume = 'Volume (cubic m).2' 
BVMRightCategory = 'Category.5'

SMI = 'Unnamed: 53' # SMI column

#### TRC
TRCTopL = 'TOP L' # Name of Top Left column
TRCTopR = 'TOP R' # Name of Top Right column
TRCTwist3 = 'TW 3' # Name of Twist 3 column
TRCTwist10 = 'TW 10' # Name of Twist 10 column
TRCVersL = 'VER L' # Name of Versine Left column
TRCVersR = 'VER R' # Name of Versine Right column

### Output File
outFile = subdivision + str(track) + 'OUT_V2.xlsx'

In [12]:
TRC_DF1 = pd.read_csv('531401 - DM A 0-9.69 NORTHGATE-SANDGATE-201701311116.csv', skiprows=TRCSkipRows) 
TRC_DF1.rename(columns=lambda x: x.strip(), inplace=True)
TRC_DF1.loc[0:5,:]

,METRAGE,GAUGE,SUPER,TOP L,TOP R,TW 10,TW 3,VER L,VER R,CON F,GR HT,VOLT,TR ST,OV HT,AC LN,AC VT,
0,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.1,0.0,-291.5,0.3,0.1,NaN
2,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.3,0.0,-289.6,0.3,0.1,NaN
3,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.6,0.0,-0.3,0.0,-287.9,0.0,0.1,NaN
4,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-11.5,0.0,-0.3,-16.3,-285.8,0.5,0.1,NaN
5,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-12.3,0.0,-0.3,-7.5,-284.5,0.5,0.3,NaN

In [13]:
TRC_DF2 = pd.read_csv('531401 - DM A 0-9.69 NORTHGATE-SANDGATE-201707041300.csv', skiprows=TRCSkipRows) 
TRC_DF2.rename(columns=lambda x: x.strip(), inplace=True)
TRC_DF2.loc[0:5,:]

,METRAGE,GAUGE,SUPER,TOP L,TOP R,TW 10,TW 3,VER L,VER R,CON F,GR HT,VOLT,TR ST,OV HT,AC LN,AC VT,
0,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.4,0.0,0.0,0.0,0.1,NaN
1,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.3,0.0,-351.9,0.3,0.3,NaN
2,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.4,0.0,-350.9,0.3,0.1,NaN
3,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.1,0.0,-0.3,0.0,-349.4,0.1,0.1,NaN
4,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.8,0.0,-0.3,-34.0,-346.0,0.1,0.3,NaN
5,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.5,0.0,-0.3,-27.1,-343.4,0.3,0.1,NaN

In [14]:
TRC_DF3 = pd.read_csv('531401 - DM A 0-9.69 NORTHGATE-SANDGATE-201710171136.csv', skiprows=TRCSkipRows) 
TRC_DF3.rename(columns=lambda x: x.strip(), inplace=True)
TRC_DF3.loc[0:5,:]

,METRAGE,GAUGE,SUPER,TOP L,TOP R,TW 10,TW 3,VER L,VER R,CON F,GR HT,VOLT,TR ST,OV HT,AC LN,AC VT,
0,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,-327.4,0.6,0.1,NaN
2,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,-323.6,0.1,0.1,NaN
3,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.9,0.0,0.1,0.0,-321.0,0.3,0.1,NaN
4,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.8,0.0,0.3,0.0,-319.1,0.3,0.1,NaN
5,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.6,0.0,0.0,-8.5,-317.4,0.1,0.1,NaN

In [15]:
TRC_DF4 = pd.read_csv('531401 - DM A 0-9.69 NORTHGATE-SANDGATE-201801311009.csv', skiprows=TRCSkipRows) 
TRC_DF4.rename(columns=lambda x: x.strip(), inplace=True)
TRC_DF4.loc[0:5,:]

,METRAGE,GAUGE,SUPER,TOP L,TOP R,TW 10,TW 3,VER L,VER R,CON F,GR HT,VOLT,TR ST,OV HT,AC LN,AC VT,
0,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.8,0.0,-338.0,0.1,0.1,NaN
2,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.8,0.0,-339.9,0.3,0.3,NaN
3,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-32.1,0.0,-0.6,0.0,-342.8,0.3,0.1,NaN
4,0.0,1067.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-31.4,0.0,-0.6,0.0,-342.6,0.3,0.3,NaN
5,0.0,1067.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,-31.4,0.0,-0.6,-26.9,-343.3,0.1,0.1,NaN

In [16]:
# Establish a list of TRC dataframes
TRCList = []
TRCList.append(TRC_DF1)
TRCList.append(TRC_DF2)
TRCList.append(TRC_DF3)
TRCList.append(TRC_DF4)

In [17]:
# Read GPR 
GPRDF = pd.read_excel(GPRFileName, sheet_name = GPRSheetName, skiprows=GPRSkipRows)

In [18]:
# Filter GPR DF by segment etc
GPRSegment = GPRDF.loc[ (GPRDF[divisionCol]==division) & (GPRDF[subdivisionCol]==subdivision ) & 
                       (GPRDF[trackCol]==track )]

In [32]:
startMetrage = 0.0025 # Starting metrage of TRC measurement
calcDF = pd.DataFrame(columns=['METRAGE', 'Start Km', 'End Km','PVCLeft', 'PVCCentre', 'PVCRight',
                               'LRILeft', 'LRICentre', 'LRIRight', 'BTILeft', 'BTICentre', 'BTIRight',
                               'MLILeft', 'MLICentre', 'MLIRight', 'SMLILeft', 'SMLICentre', 'SMLIRight',
                               'FDLLeft', 'FDLCentre', 'FDLRight', 'CTQILeft', 'CTQICentre', 'CTQIRight',
                               'BVMLeftVolume', 'BVMLeftCategory', 'BVMCentreVolume', 'BVMCentreCategory',
                               'BVMRightVolume', 'BVMRightCategory', 'SMI',
                               'SDTopLeft1', 'SDTopLeft2','SDTopLeft3','SDTopLeft4',
                               'SDTopRight1','SDTopRight2','SDTopRight3','SDTopRight4',
                               'SDTwist101','SDTwist102','SDTwist103','SDTwist104',
                               'SDTwist31','SDTwist32','SDTwist33','SDTwist34',
                               'SDVersL1', 'SDVersL2', 'SDVersL3', 'SDVersL4',
                               'SDVersR1', 'SDVersR2', 'SDVersR3', 'SDVersR4',
                               'Combined1','Combined2','Combined3','Combined4'])


# Find largest distance measured by any TRC run
maxDist = np.min( [float(TRCList[0].iloc[-1:,]['METRAGE']), float(TRCList[1].iloc[-1:,]['METRAGE']), 
    float(TRCList[2].iloc[-1:,]['METRAGE']), float(TRCList[3].iloc[-1:,]['METRAGE']) ])

for i in range( int(maxDist*1000/metrageInc) ):
    calcDF.loc[i, 'METRAGE'] = startMetrage + i*metrageInc/1000
    calcDF.loc[i, 'Start Km'] = calcDF.loc[i, 'METRAGE'] - metrageInc/1000/2
    calcDF.loc[i, 'End Km'] = calcDF.loc[i, 'METRAGE'] + metrageInc/1000/2

In [33]:
# Calculate standard deviations: Top Left, Top Right and Twist for 4 TRC Runs
colLeft = 'SDTopLeft'
colRight = 'SDTopRight'
colTwist10 = 'SDTwist10'
colTwist3 = 'SDTwist3'
colVersLeft = 'SDVersL'
colVersRight = 'SDVersR'
colCombined = 'Combined'

for j  in range(0, numTRCRuns):
        colNameLeft = colLeft + str(j+1)
        colNameRight = colRight + str(j+1)
        colNameTwist10 = colTwist10 + str(j+1)
        colNameTwist3 = colTwist3 + str(j+1)
        colNameVersLeft = colVersLeft + str(j+1)
        colNameVersRight = colVersRight + str(j+1)
        colNameCombined = colCombined + str(j+1)
        
        for i in range(2, len(calcDF)-2):
            inRange = np.where( (TRCList[j].loc[:,'METRAGE'] > calcDF.loc[i-2,'METRAGE']) & 
                                                    (TRCList[j].loc[:, 'METRAGE'] <= calcDF.loc[i+2, 'METRAGE']) ) 
            calcDF.loc[i,colNameLeft] = stats.stdev( TRCList[j].loc[inRange][TRCTopL] )
            calcDF.loc[i,colNameRight] = stats.stdev( TRCList[j].loc[inRange][TRCTopR] )
            calcDF.loc[i,colNameTwist10] = stats.stdev( TRCList[j].loc[inRange][TRCTwist10] )
            calcDF.loc[i,colNameTwist3] = stats.stdev( TRCList[j].loc[inRange][TRCTwist3] )
            calcDF.loc[i,colNameVersLeft] = stats.stdev( TRCList[j].loc[inRange][TRCVersL] )
            calcDF.loc[i,colNameVersRight] = stats.stdev( TRCList[j].loc[inRange][TRCVersR] )

            # Original QR combined calculation
            calcDF.loc[i,colNameCombined] =  (calcDF.loc[i,colNameLeft] + calcDF.loc[i,colNameRight])/2 + calcDF.loc[i,colNameTwist3]

            # Modified combined calculation
            # (SDL + SDR)/2 + (SDTW3+SDTW10)/2 + (SDVersL+SDVersR)/2
#             calcDF.loc[i,colNameCombined] =  (calcDF.loc[i,colNameLeft] + calcDF.loc[i,colNameRight])/2 + 
#             (calcDF.loc[i,colNameTwist3] + calcDF.loc[i,colNameTwist10])/2 +
#             (calcDF.loc[i,colNameVersLeft] + calcDF.loc[i,colNameVersRight])/2
            
        calcDF.loc[1,colNameLeft] = calcDF.loc[2, colNameLeft]
        calcDF.loc[1,colNameRight] = calcDF.loc[2, colNameRight]
        calcDF.loc[1,colNameTwist10] = calcDF.loc[2, colNameTwist10]
        calcDF.loc[1,colNameTwist10] = calcDF.loc[2, colNameTwist10]
        calcDF.loc[1,colNameVersLeft] = calcDF.loc[2, colNameVersLeft]
        calcDF.loc[1,colNameVersRight] = calcDF.loc[2, colNameVersRight]
        calcDF.loc[1,colNameCombined] = calcDF.loc[2, colNameCombined]

In [56]:
# Insert GPR data
for i in range(1, len(calcDF)-2):
    inRange = np.where( (round(GPRSegment.loc[:, StartKM],3) <= round((calcDF.loc[i,'METRAGE']),3))  &
               (round(GPRSegment.loc[:, EndKM],3) >= round((calcDF.loc[i,'METRAGE']),3)))
    
    # Only process if found unique corresponding range in GPR
    if (len(inRange[0]) == 1):
        calcDF.loc[i,'PVCLeft'] = GPRSegment.iloc[inRange[0][0]][PVCLeft]   
        calcDF.loc[i,'PVCCentre'] = GPRSegment.iloc[inRange[0][0]][PVCCentre]
        calcDF.loc[i, 'PVCRight'] = GPRSegment.iloc[inRange[0][0]][PVCRight]
        
        calcDF.loc[i,'LRILeft'] = GPRSegment.iloc[inRange[0][0]][LRILeft]   
        calcDF.loc[i,'LRICentre'] = GPRSegment.iloc[inRange[0][0]][LRICentre]
        calcDF.loc[i, 'LRIRight'] = GPRSegment.iloc[inRange[0][0]][LRIRight]
        
        calcDF.loc[i,'BTILeft'] = GPRSegment.iloc[inRange[0][0]][BTILeft]   
        calcDF.loc[i,'BTICentre'] = GPRSegment.iloc[inRange[0][0]][BTICentre]
        calcDF.loc[i, 'BTIRight'] = GPRSegment.iloc[inRange[0][0]][BTIRight]
        
        calcDF.loc[i,'MLILeft'] = GPRSegment.iloc[inRange[0][0]][MLILeft]   
        calcDF.loc[i,'MLICentre'] = GPRSegment.iloc[inRange[0][0]][MLICentre]
        calcDF.loc[i, 'MLIRight'] = GPRSegment.iloc[inRange[0][0]][MLIRight]
        
        calcDF.loc[i,'SMLILeft'] = GPRSegment.iloc[inRange[0][0]][SMLILeft]   
        calcDF.loc[i,'SMLICentre'] = GPRSegment.iloc[inRange[0][0]][SMLICentre]
        calcDF.loc[i, 'SMLIRight'] = GPRSegment.iloc[inRange[0][0]][SMLIRight]

        calcDF.loc[i,'FDLLeft'] = GPRSegment.iloc[inRange[0][0]][FDLLeft]   
        calcDF.loc[i,'FDLCentre'] = GPRSegment.iloc[inRange[0][0]][FDLCentre]
        calcDF.loc[i, 'FDLRight'] = GPRSegment.iloc[inRange[0][0]][FDLRight]

        calcDF.loc[i,'CTQILeft'] = GPRSegment.iloc[inRange[0][0]][CTQILeft]   
        calcDF.loc[i,'CTQICentre'] = GPRSegment.iloc[inRange[0][0]][CTQICentre]
        calcDF.loc[i, 'CTQIRight'] = GPRSegment.iloc[inRange[0][0]][CTQIRight]

        calcDF.loc[i,'BVMLeftVolume'] = GPRSegment.iloc[inRange[0][0]][BVMLeftVolume]
        calcDF.loc[i,'BVMLeftCategory'] = GPRSegment.iloc[inRange[0][0]][BVMLeftCategory]
        calcDF.loc[i,'BVMCentreVolume'] = GPRSegment.iloc[inRange[0][0]][BVMCentreVolume]
        calcDF.loc[i,'BVMCentreCategory'] = GPRSegment.iloc[inRange[0][0]][BVMCentreCategory]
        calcDF.loc[i,'BVMRightVolume'] = GPRSegment.iloc[inRange[0][0]][BVMRightVolume]
        calcDF.loc[i,'BVMRightCategory'] = GPRSegment.iloc[inRange[0][0]][BVMRightCategory]

        calcDF.loc[i,'SMI'] = GPRSegment.iloc[inRange[0][0]][SMI]

In [63]:
export_excel = calcDF.to_excel (outFile, index = None, header=True)